
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stok Takip</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/simplex.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    @* <link href="lib/css/all.min.css" rel="stylesheet" type="text/css"> *@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    @*<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">*@
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" />*@
    <link href="~/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.3.1/css/buttons.bootstrap4.min.css" />*@
    @RenderSection("Css", false)

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img src="/image/AdminIcon.png" alt="AdminPanel" class="w-100 img-fluid img-thumbnail" />
                <h5 class="pt-1">İşlem Paneli</h5>
            </div>
            <div class="list-group list-group-flush">
                <a asp-action="Index" asp-controller="User" class="list-group-item list-group-item-action">Kullanıcı İşlemleri</a>
                <a asp-action="Index" asp-controller="Branch" class="list-group-item list-group-item-action">Şube İşlemleri</a>
                <a asp-action="Index" asp-controller="Product" class="list-group-item list-group-item-action">Ürün-Stok İşlemleri</a>
                <a asp-action="Index" asp-controller="Delivery" class="list-group-item list-group-item-action ">Teslimat İşlemleri</a>
                <a asp-action="Info" asp-controller="Home" class="list-group-item list-group-item-action">Kullanım Klavuzu</a>
                <a asp-action="SignOut" asp-controller="User" class="list-group-item list-group-item-action ">Çıkış Yap</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle"> Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Modal -->
    <div class="modal fade" id="PrdouctModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stok Girişi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ürün Adı: <span id="UrunAdi"></span></p>
                    <p>Giriş Adedi: <input style="border: 1px solid #bbb; border-radius: 0.25rem;" type="number" id="Adet" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">İptal</button>
                    <button type="button" id="OkButton" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End-Modal -->
    <!-- Bootstrap core JavaScript -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--DataTablesScripts-->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/buttons.bootstrap4.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <!--End-DataTablesScripts-->

    <script src="/js/site.js"></script>

    @RenderSection("JavaScript", false)

    <!-- Menu Toggle Script -->

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    </script>
    <script>
        var table = $('#dataTable').DataTable({
            lengthChange: false,
            buttons: ['excel']

        });

        table.buttons().container().appendTo('#dataTable_wrapper .col-md-6:eq(0)');
    </script>


</body>

</html>
