
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Kullanım Klavuzu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <input type="button" class="nav-link" id="Kullanici" value="Kullanıcı İşlemleri" />
            </li>
            <li class="nav-item active">
                <input type="button" class="nav-link" id="Sube" value="Şube İşlemleri" />

            </li>
            <li class="nav-item active">
                <input type="button" class="nav-link" id="UrunStok" value="Ürün-Stok İşlemleri" />
            </li>
            <li class="nav-item active">
                <input type="button" class="nav-link" id="Teslimat" value="Teslimat İşlemleri" />
            </li>
        </ul>

    </div>
    
</nav>
<div class="row">
    <div id="ImgDiv">


    </div>
    <div id="InfoDiv">

    </div>
</div>


